$amarillo: #f0ff00;
$verde: #00ff00;
$rojo: #ff0000;

$silver: #C0C0C0;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

body{
  padding: 0;
  margin: 0;
}

.jumbotron {
	@include margenes(40px, 0px);
	margin-right: 0px;
	margin-left: -3px;
	background-color: $silver;
	color: blue;
}

footer {
	@include margenes(10px, 0px);
	padding: 10px 10px 0 10px;
	background: $silver;
	color: #2086C9;
}

.card-hotel {
	flex: 1 200px;
	@include margenes(10px, 0px);
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.tcolor {
	color: #2E82B9;
}

.tab-content {
	padding-top: 10px;
}