$amarillo: #f0ff00;
$verde: #00ff00;
$rojo: #ff0000;

@silver: #7a7979;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

body {
  padding: 0;
  margin: 0; }

.jumbotron {
  .margenes(40px, 0px);
  margin-right: 0px;
  margin-left: -3px;
  background-color: @silver;
  color: blue; }

footer {
  .margenes(10px, 0px);
  padding: 10px 10px 0 10px;
  background: @silver;
  color: #2086C9; }

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px); 
  }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tcolor {
  color: #2E82B9; }

.tab-content {
  padding-top: 10px; }
