body {
  padding: 0;
  margin: 0;
}
.jumbotron {
  margin-top: 40px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: -3px;
  background-color: #7a7979;
  color: blue;
}
footer {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 10px 10px 0 10px;
  background: #7a7979;
  color: #2086C9;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tcolor {
  color: #2E82B9;
}
.tab-content {
  padding-top: 10px;
}
